<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table class="table table-dark">


        <tbody>


            <tr>
                <th scope="col">Makanan</th>
                <th scope="col">Minuman</th>
                <th scope="col">Harga</th>
            </tr>

            <tr>
                <th>{{data.makanan}}</th>
                <th>{{data.minuman}}</th>
                <th>{{data.harga}}</th>
            </tr>
        </tbody>

    </table>
</body>

</html>