<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="#" method="POST" class="mt-3">
        {% csrf_token %}
        <!-- Tambah Task -->
        <br>
        <input type="text" name="makanan" class="form-control">makanan
        <br>
        <input type="number" name="hargamakanan" class="form-control">Harga Makanan
        <br>
        <input type="text" name="minuman" class="form-control">minuman
        <br>
        <input type="number" name="hargaminuman" class="form-control" />Harga Minuman
        <br>
        <br>
        <button type="submit" class="btn btn-primary mt-1">update</button>
    </form>
</body>

</html>